In [2]:
import pandas as pd
import numpy as np

n = 5000

# Definir las horas de 8 a 24
horas = list(range(8, 25))

# Probabilidades para las horas (como tenías)
probabilidades_horas = [0.02]*12 + [0.12]*5
prob_sum = sum(probabilidades_horas)
probabilidades_horas = [p/prob_sum for p in probabilidades_horas]

# Distritos y sus probabilidades
distritos = ["La Banda de Shilcayo, PERÚ", "Morales, PERÚ", "Tarapoto, PERÚ"]
prob_distritos = [0.6, 0.3, 0.1]

# Edades de 18 a 49
edades = list(range(18, 50))

# Crear probabilidades para edades, con mayor peso entre 18 y 25
prob_edad = []
for edad in edades:
    if 18 <= edad <= 25:
        prob_edad.append(0.06)  # mayor probabilidad para este rango
    else:
        prob_edad.append(0.01)  # menor probabilidad fuera del rango

# Normalizar para que sumen 1
prob_edad = np.array(prob_edad)
prob_edad = prob_edad / prob_edad.sum()

info = {
    "idIncidente": list(range(1, n+1)),
    "distrito": np.random.choice(distritos, size=n, p=prob_distritos),
    "tipoRobo": np.random.choice(["Mano armada", "Arma blanca", "Hurto"], size=n),
    "hora": np.random.choice(horas, size=n, p=probabilidades_horas),
    "dia": np.random.choice(["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"], size=n),
    "mes": np.random.choice(
        ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
         "Julio", "Agosto", "Setiembre", "Octubre", "Noviembre", "Diciembre"],
        size=n),
    "anio": np.random.choice(["2023", "2024", "2022"], size=n),
    "edadVictima": np.random.choice(edades, size=n, p=prob_edad),
    "generoVictima": np.random.choice(["Masculino", "Femenino"], size=n),
}

data = pd.DataFrame(info)
data.head()

,idIncidente,distrito,tipoRobo,hora,dia,mes,anio,edadVictima,generoVictima
0,1,"Morales, PERÚ",Arma blanca,22,Jueves,Mayo,2024,36,Masculino
1,2,"La Banda de Shilcayo, PERÚ",Mano armada,20,Jueves,Agosto,2022,20,Masculino
2,3,"Morales, PERÚ",Mano armada,14,Viernes,Febrero,2022,23,Femenino
3,4,"Tarapoto, PERÚ",Arma blanca,20,Miércoles,Julio,2024,31,Masculino
4,5,"La Banda de Shilcayo, PERÚ",Arma blanca,21,Domingo,Abril,2022,22,Femenino

In [3]:
# Crear un diccionario con latitud y longitud para cada distrito
coords = {
    "La Banda de Shilcayo, PERÚ": {"lat": -6.4934, "lon": -76.3722},
    "Tarapoto, PERÚ": {"lat": -6.4850, "lon": -76.3540},
    "Morales, PERÚ": {"lat": -6.5514, "lon": -76.3932},
}

# Crear columnas latitud y longitud aplicando el diccionario según el distrito
data['latitud'] = data['distrito'].map(lambda x: coords[x]['lat'])
data['longitud'] = data['distrito'].map(lambda x: coords[x]['lon'])

data.head()

,idIncidente,distrito,tipoRobo,hora,dia,mes,anio,edadVictima,generoVictima,latitud,longitud
0,1,"Morales, PERÚ",Arma blanca,22,Jueves,Mayo,2024,36,Masculino,-6.5514,-76.3932
1,2,"La Banda de Shilcayo, PERÚ",Mano armada,20,Jueves,Agosto,2022,20,Masculino,-6.4934,-76.3722
2,3,"Morales, PERÚ",Mano armada,14,Viernes,Febrero,2022,23,Femenino,-6.5514,-76.3932
3,4,"Tarapoto, PERÚ",Arma blanca,20,Miércoles,Julio,2024,31,Masculino,-6.4850,-76.3540
4,5,"La Banda de Shilcayo, PERÚ",Arma blanca,21,Domingo,Abril,2022,22,Femenino,-6.4934,-76.3722

In [4]:
# Guardar DataFrame en un archivo CSV
data.to_csv("datos_robos_tarapoto.csv", index=False, encoding="utf-8")